@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1702457114656') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e63b";
}

.icon-icon-test1:before {
  content: "\e63c";
}

.icon-icon-test2:before {
  content: "\e63d";
}

.icon-icon-test3:before {
  content: "\e63f";
}

.icon-icon-test4:before {
  content: "\e64b";
}

.icon-icon-test5:before {
  content: "\e64c";
}

.icon-icon-test6:before {
  content: "\e64d";
}

.icon-icon-test7:before {
  content: "\e64f";
}

.icon-icon-test8:before {
  content: "\e650";
}

.icon-icon-test9:before {
  content: "\e651";
}

.icon-icon-test10:before {
  content: "\e652";
}

